APP_NAME=Almas Laundry
API_BASE_URL=http://localhost:5000/api/v1
API_ANDROID_BASE_URL=http://10.0.2.2:5000/api/v1
FRONTEND_WEB_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000
AUTO_LOGOUT_MINUTES=60
