# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ & VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Environment Variables (Secrets)
.env
.env.*
!.env.example

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android Local & Secrets
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release
key.properties
**/*.keystore
**/*.jks
**/google-services.json

# iOS Local & Secrets
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/ephemeral/
**/GoogleService-Info.plist

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json
.widget_preview/

# AI Agent Instructions & Rules
AGENTS.md
.agents/
*.agent.md
